
<div class="container-fluid py-5 bg-yellow-2">
  <div class="row py-5 align-items-center w-80">
    <div class="col-lg-6">
      <h5 class="display-4 mb-4 banner-title fw-bold text-white">First I Wanted to be a veterinarian</h5>
      <p class="h5 aa mb-4 pb-3 text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nunc nisi, suscipit id dapibus sit amet, lacinia nec lorem. Aenean eget urna rutrum suscipit.</p>
      <div class="d-flex gap-5">
      <a href="" class="btn btn-lg py-2 btn-primary btn-primary-blue">Contact Us</a>
      <a href="" class="btn btn-lg btn-outline-light py-2">Our Service</a>
      </div>
    </div>
    <div class="col-lg-6 text-lg-right text-center mt-5 mt-lg-0">
      <div class="pet-image"> <img class="w-80" src="./assets/dog-banner.png"> </div>
    </div>
  </div>
</div>

