
<div class="container-fluid py-5 bg-yellow-2">
  <div class="row py-5 align-items-center  justify-content-center w-80">
    <h2 class="display-4 mb-4 text-center fw-bold text-white">TItle Here</h2>
    <p class="h5 aa mb-4 pb-3 text-center text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nunc nisi, suscipit id dapibus sit amet, lacinia nec lorem. Aenean eget urna rutrum suscipit.</p>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="card card-service bg-yellow-2" style="width: 18rem;">
        <div class="border border-light">
          <img src="./assets/veterinarian.png" class="card-img-top" alt="Veterinarian">
        </div>
        <div class="card-body bg-yellow-2">
          <h2 class="card-title text-center color-white fw-bold">Veterinarian</h2>
          <p class="card-text text-center color-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 justify-content-center">
      <div class="card card-service bg-yellow-2" style="width: 18rem;">
        <div class="border border-light">
          <img src="./assets/vaccination-care.png" class="card-img-top" alt="vaccination-care">
        </div>
        <div class="card-body bg-yellow-2">
          <h2 class="card-title text-center color-white fw-bold">Vaccination Care</h2>
          <p class="card-text text-center color-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="card card-service bg-yellow-2" style="width: 18rem;">
        <div class="border border-light">
          <img src="./assets/dental-care.png" class="card-img-top" alt="dental-care">
        </div>
        <div class="card-body bg-yellow-2">
          <h2 class="card-title text-center color-white fw-bold">Dental Care</h2>
          <p class="card-text text-center color-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>

