
<div class="container-fluid py-5 ">
  <div class="row py-5 align-items-center w-80">
    <div class="col-lg-6">
      <h5 class="display-4 mb-4 banner-title fw-bold text-dark">As a veterinarian, and lover for animals</h5>
      <p class="h5 aa mb-4 pb-3 text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nunc nisi, suscipit id dapibus sit amet, lacinia nec lorem. Aenean eget urna rutrum suscipit.</p>
      <div class="d-flex gap-5">
        <a href="" class="btn btn-lg py-2 btn-primary btn-primary-yellow">Our Service</a>
      </div>
    </div>
    <div class="col-lg-6 text-lg-right text-center mt-5 mt-lg-0">
      <div class="pet-image-video bg-yellow-2"><img class="w-100" src="./assets/video-cover.jpg"> </div>
    </div>
  </div>
</div>

