
<div class="container-fluid py-5 bg-yellow-statistics">
  <div class="row py-5 align-items-center w-80">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="card card-service card-statistics" style="width: 18rem;">
        <div class="icon-statistics">
          <img width="200" src="./assets/icons-04.png" class="card-img-top" alt="store">
        </div>
        <div class="card-body text-center">
          <p class="card-title fs-1 color-white fw-bold ">+34793</p>
          <h2 class="mb-4 text-center fw-bold text-light">Happy Clients</h2>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="card card-service card-statistics" style="width: 18rem;">
        <div class="icon-statistics">
          <img width="100" src="./assets/icons-05.png" class="card-img-top" alt="store">
        </div>
        <div class="card-body text-center">
          <p class="card-title fs-1 color-white fw-bold ">+45382</p>
          <h2 class="mb-4 text-center fw-bold text-light">Departament</h2>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="card card-service card-statistics" style="width: 18rem;">
        <div class="icon-statistics">
          <img width="200" src="./assets/icons-06.png" class="card-img-top" alt="store">
        </div>
        <div class="card-body text-center">
          <p class="card-title fs-1 color-white fw-bold ">+54762</p>
          <h2 class="mb-4 text-center fw-bold text-light">Vaccinations</h2>
        </div>
      </div>
    </div>
  </div>
</div>
