
<div class="container-fluid py-5">
  <div class="row py-5 align-items-center w-80">
    <h2 class="display-4 mb-4 text-center fw-bold text-dark">The vetcare team</h2>
    <p class="h5 mb-4 pb-3 text-center text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nunc nisi, suscipit id dapibus sit amet, lacinia nec lorem. Aenean eget urna rutrum suscipit.</p>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-4 ">
      <div class="card  border-dark " style="width: 18rem;">
        <div class="border ">
          <img src="./assets/blog-03.png" class="card-img-top" alt="store">
        </div>
        <div class="card-body  text-start">
          <h5 class="card-title fw-bold fs-4">As a veterinarian and lover of animals</h5>
          <h6 class="card-title brand-blue fs-6">FEBRUARY 11, 2021</h6>
          <p class="card-text my-3">Lorem ipsum available, but the majority have suffered alteration in some words which look</p>
          <a href="#" class="brand-blue fs-5 fw-bold ">Read More+</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-4 ">
      <div class="card shadow-lg" style="width: 18rem;">
        <div class="border ">
          <img src="./assets/blog-04.png" class="card-img-top" alt="store">
        </div>
        <div class="card-body  text-start">
          <h5 class="card-title fw-bold fs-4">As a veterinarian and lover of animals</h5>
          <h6 class="card-title brand-blue fs-6">FEBRUARY 11, 2021</h6>
          <p class="card-text my-3">Lorem ipsum available, but the majority have suffered alteration in some words which look</p>
          <a href="#" class="brand-blue fs-5 fw-bold ">Read More+</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-4 ">
      <div class="card  border-dark " style="width: 18rem;">
        <div class="border ">
          <img src="./assets/blog-05.png" class="card-img-top" alt="store">
        </div>
        <div class="card-body  text-start">
          <h5 class="card-title fw-bold fs-4">As a veterinarian and lover of animals</h5>
          <h6 class="card-title brand-blue fs-6">FEBRUARY 11, 2021</h6>
          <p class="card-text my-3">Lorem ipsum available, but the majority have suffered alteration in some words which look</p>
          <a href="#" class="brand-blue fs-5 fw-bold ">Read More+</a>
        </div>
      </div>
    </div>
  </div>
</div>
